doctype html
html
  head
    title=title

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Jim Bulkowski's vanity page.")
    meta(name="author" content="Jim Bulkowski")
    meta(name="copyright" content="Jim Bulkowski(c) 2015")

    link(rel='stylesheet', href='/css/main.min.css')
  body
    block header
    block content
    block footer

    include scripts
    block scripts

