script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js')

script(src='/js/app.js')

