p I am an avid programmer, software consultant, and developer of Open Source Software, to me nothing is more important
  | than helping people solve problems. My current focus is on building tools, libraries and applications
  | to support SaaS and PaaS implementations for small to medium sized businesses and startups. I'm comfortable
  | in several languages, including Java, Ruby, Python and Go, though I prefer Javascript and NodeJs as it best
  | suits the problems I am most interested in.

p
  a(href='http://paperelectron.com')  PaperElectron LLC,
  |  based in the Atlanta GA area, is my software
  | consulting and development company and is currently pursuing contract work.

p You can download my current resume
  a(href='') &nbsp;from here&nbsp;
  | or you can
  a(href='https://www.npmjs.com/package/@paperelectron/resume') &nbsp;head over to npm&nbsp;
  | and install it as an application to view it in your browser!
