a(name='contact')
footer.footer
  .row.full-width.text-center
    .small-12.medium-6.large-4.columns
      a.padOut(href='mailto:jim.b@paperelectron.com')
        i.fa.fa-2x.fa-envelope
      a.padOut(href='https://twitter.com/paperElectron')
        i.fa.fa-2x.fa-twitter
      a.padOut(href='https://www.linkedin.com/in/JimtotheB')
        i.fa.fa-2x.fa-linkedin
      a.padOut(href='https://github.com/JimtotheB/')
        i.fa.fa-2x.fa-github
      a.padOut(href='https://paperelectron.slack.com/')
        i.fa.fa-2x.fa-slack

    .small-12.medium-6.large-4.large-offset-4.columns
      hr.show-for-small-only
      p

  .row
    .small-8.columns.small-offset-2
      hr

  .row.full-width.text-center
    .small-12.columns
      p © 2015 Jim Bulkowski