p While originally from Ohio, Atlanta is where I decided to settle and raise my family, so I love spending time with my
 | wife and son (and soon to be infant son/daughter), and I definitely like pushing the boundry of
 | "what toys are appropriate" for my sons age.

p I am a member of the Atlanta Nodejs meetup, as well as a few others including organizing the North Georgia Fireworks
 | Enthusiasts group. I like to dabble in embedded programming with C on the arduino and TI launchpad platform, mostly
 | building things that light up or beep.
