.magellan-container(data-magellan-expedition="fixed", data-options="destination_threshold:65")
  dl.sub-nav
    dd(data-magellan-arrival="top")
      a(href="#top")
        i.fa.fa-arrow-up
    dd(data-magellan-arrival="about")
      a(href="#about") About me
    dd(data-magellan-arrival="projects")
      a(href="#projects") Projects
    dd(data-magellan-arrival="interests")
      a(href="#interests") Interests
    dd.show-for-medium-down(data-magellan-arrival="twitter")
      a(href="#twitter") Twitter

