p I have 3 substantial open source projects currently in development, with about a dozen more in various
  | states of completion.

ul.no-bullet
  li.panel.clearfix
    .row
      .small-12.columns
        h4.left Sundry
        ul.inline-list.right
          li
            a(href="https://travis-ci.org/PaperElectron/Sundry")
              img(src="https://img.shields.io/travis/PaperElectron/Sundry/master.svg?style=flat-square")
          li
            a(href="https://www.npmjs.com/package/sundry")
              img(src="https://img.shields.io/npm/v/sundry.svg?style=flat-square")
    .row
      .small-12.columns
        p Sundry is a dynamically configurable, load balancing reverse proxy. It designed to handle
         | routing for docker containers running on a private network, with Sundry acting as the only
         | point for incoming connections from the internet at large. With a nearly 100% Async workflow it is capable
         | of reaching the request per second limits of its NodeJS architecture.

  li.panel.clearfix
    .row
      .small-12.columns
        h4.left Pomegranate
        ul.inline-list.right
          li
            a(href="https://travis-ci.org/PaperElectron/Pomegranate")
              img(src="https://img.shields.io/travis/PaperElectron/Pomegranate/master.svg?style=flat-square")
          li
            a(href="https://www.npmjs.com/package/sundry")
              img(src="https://img.shields.io/npm/v/pomegranate.svg?style=flat-square")
    .row
      .small-12.columns
        p Pomegranate is a MVC web framework based on Dependency injection. It is targeted at experienced developers
         | who want a fast, robust and easily extendable platform to build on.

  li.panel.clearfix
    .row
      .small-12.columns
        h4.left Magnum DI
        ul.inline-list.right
          li
            a(href="https://travis-ci.org/PaperElectron/Magnum-DI")
              img(src="https://img.shields.io/travis/PaperElectron/Magnum-DI/master.svg?style=flat-square")
          li
            a(href="https://www.npmjs.com/package/sundry")
              img(src="https://img.shields.io/npm/v/magnum-di.svg?style=flat-square")
    .row
      .small-12.columns
        p Magnum DI is the lightweight dependency injection framework that powers Pomegranate.
         | It is easy and intuitive to use, for projects that consume outside code, it saves developer time
         | by not having to think too hard about managing dependencies.